apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
      - name: auth-service
        image: self-project-auth-service:latest # Needs to be pushed to registry in real scenario
        imagePullPolicy: Never # For local minikube/local usage
        ports:
        - containerPort: 5001
        env:
        - name: PORT
          value: "5001"
        - name: MONGO_URI
          value: "mongodb://mongo:27017/auth-db"
        - name: JWT_SECRET
          value: "supersecretkey123"
---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
spec:
  selector:
    app: auth-service
  ports:
  - port: 5001
    targetPort: 5001
