apiVersion: apps/v1
kind: Deployment
metadata:
  name: claims-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: claims-service
  template:
    metadata:
      labels:
        app: claims-service
    spec:
      containers:
      - name: claims-service
        image: self-project-claims-service:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 5003
        env:
        - name: PORT
          value: "5003"
        - name: MONGO_URI
          value: "mongodb://mongo:27017/claims-db"
        - name: JWT_SECRET
          value: "supersecretkey123"
---
apiVersion: v1
kind: Service
metadata:
  name: claims-service
spec:
  selector:
    app: claims-service
  ports:
  - port: 5003
    targetPort: 5003
