apiVersion: apps/v1
kind: Deployment
metadata:
  name: client-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: client-app
  template:
    metadata:
      labels:
        app: client-app
    spec:
      containers:
      - name: client-app
        image: self-project-client-app:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: client-app
spec:
  type: LoadBalancer
  selector:
    app: client-app
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30000 
