apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: payment-service
  template:
    metadata:
      labels:
        app: payment-service
    spec:
      containers:
      - name: payment-service
        image: self-project-payment-service:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 5004
        env:
        - name: PORT
          value: "5004"
        - name: MONGO_URI
          value: "mongodb://mongo:27017/payment-db"
        - name: JWT_SECRET
          value: "supersecretkey123"
---
apiVersion: v1
kind: Service
metadata:
  name: payment-service
spec:
  selector:
    app: payment-service
  ports:
  - port: 5004
    targetPort: 5004
