apiVersion: apps/v1
kind: Deployment
metadata:
  name: policy-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: policy-service
  template:
    metadata:
      labels:
        app: policy-service
    spec:
      containers:
      - name: policy-service
        image: self-project-policy-service:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 5002
        env:
        - name: PORT
          value: "5002"
        - name: MONGO_URI
          value: "mongodb://mongo:27017/policy-db"
        - name: JWT_SECRET
          value: "supersecretkey123"
---
apiVersion: v1
kind: Service
metadata:
  name: policy-service
spec:
  selector:
    app: policy-service
  ports:
  - port: 5002
    targetPort: 5002
